.home {
    padding: 50px;color: white;
    /* text-shadow: 0 0 10px rgba(247, 247, 247, 0.1); */
    background-color: rgb(245, 245, 245);
    color: black;
    font-family: 'Comfortaa', Arial, sans-serif;
  }
  
  .home h1 {
    font-size: 3em;
  }
  
  .home p {
    font-size: 1.2em;
  }
  